<h1 align="center">Movies</h1>

<%= render partial: 'filters_panel', locals: { title_pattern: @title_pattern, genre: @genre, sorting_field: @sorting_field, min_rating: @min_rating, min_year: @min_year, watchable: @watchable, min_reviews: @min_reviews } %>

<table width="100%" border="1">
  <% @movies.each_slice( 3 ) do | movies_row | %>
    <% movies_row.each do | movie | %>
      <td width="33%">
        <table width="100%">
          <tr>
            <td width="33%" style="line-height:12px">
              <small><%= h(movie.genres.map(&:name).join(', ')) %></small>
            </td>
            <td width="33%" align="center">
              <big><b><font color="red"><%= movie.rating || "-" %></font></b></big>
            </td>
            <td width="33%" align="center">
              <% MoviesHelper::ANNOTATIONS.each do | annotation | %>
              <span id="<%= annotation %>-<%= movie.id %>" annotation-listener="true">
                <%= render partial: 'annotation_link', locals: { movie: movie, annotation: annotation, value: movie.annotation.attributes.fetch(annotation) } %>
              </span>
              <% end %>
            </td>
          </tr>
        </table>
      </td>
    <% end %>
  </tr>
  <tr>
    <% movies_row.each do | movie | %>
	    <td width="33%">
        <table align="center" id="panel-<%= movie.id%>">
            <%= render partial: 'poster_panel', locals: { movie: movie } %>
        </table>
	    </td>
    <% end %>
  </tr>
  <% end %>
</table>

<p align="center">
  <%= link_to_previous_page @movies, 'Previous page', params: new_page_params %> <%= link_to_next_page @movies, 'Next page', params: new_page_params %>
</p>
