<h1 align="center">Movies</h1>

<p align="center">
  <%=
    collection_select(
      :movie, :genre_id, @genres, :id, :name,
      @genre_id ? { selected: @genre_id, include_blank: '(No genre)' } : { prompt: '(No genre)' },
      { onchange: "document.location='/movies?genre_id='+this.value" }
    )
  %>
</p>

<table width="100%" cellpadding="5" border="1">
  <% @movies.each_slice( 3 ) do | movies_row | %>
  <tr>
    <% movies_row.each do | movie | %>
	    <td width="33%" align="center" valign="center">
	      <%= image_tag url_for( controller: 'posters', action: 'show', movie_id: movie.id ) %>
	      <br/>
	      <%= h( movie.title ) %>
	    </td>
    <% end %>
  </tr>
  <% end %>
</table>

<p align="center">
  <%= link_to_next_page @movies, 'Previous page' %> <%= link_to_next_page @movies, 'Next page' %>
</p>
