<h1 align="center">Movies</h1>

<p align="center">
  <%=
    genre_options = @genre_id ? { selected: @genre_id, include_blank: '(No genre)' } : { prompt: '(No genre)' }

    collection_select(
      :movie, :genre_id, @genres, :id, :name,
      genre_options,
      { onchange: js_on_change_link }
    )
  %>
  <%=
    sorting_options = @sorting_field ? { include_blank: '(No sorting)' } : { prompt: '(No sorting)' }

    select_tag(
      :sorting_field, options_for_select( @sort_mapping, @sorting_field ),
      sorting_options.merge( onchange: js_on_change_link )
    )
  %>
  <%=
    min_rating_options = @min_rating ? { selected: @min_rating, include_blank: '(No min rating)' } : { prompt: '(No min rating)' }

    select(
      :movie, :min_rating, @ratings,
      min_rating_options,
      { onchange: js_on_change_link }
    )
  %>
  <%=
    min_year_options = @min_year ? { selected: @min_year, include_blank: '(No min year)' } : { prompt: '(No min year)' }

    select(
      :movie, :min_year, @years,
      min_year_options,
      { onchange: js_on_change_link }
    )
  %>
  Watchable:
  <%=
    check_box( :movie, :watchable, { onchange: js_on_change_link, checked: @watchable } )
  %>
</p>

<table width="100%" border="1">
  <% @movies.each_slice( 3 ) do | movies_row | %>
    <% movies_row.each do | movie | %>
      <td width="33%">
        <table width="100%">
          <tr>
            <td width="33%" style="line-height:12px">
              <small><%= h(movie.genres.map(&:name).join(', ')) %></small>
            </td>
            <td width="33%" align="center">
              <big>
                <b><font color="red"><%= movie.rating || "-" %></font></b>
                <% if movie.general_reviews_count > 0 && movie.general_reviews_count < @reviews_threshold %>
                  (<%= movie.general_reviews_count %>)
                <% end %>
              </big>
            </td>
            <td width="33%" align="center">
              <% @annotations.each do | annotation | %>
              <span id="<%= annotation %>-<%= movie.id %>" annotation-listener="true">
                <%= render partial: 'annotation_link', locals: { movie: movie, annotation: annotation, value: movie.attributes[annotation] } %>
              </span>
              <% end %>
            </td>
          </tr>
        </table>
      </td>
    <% end %>
  </tr>
  <tr>
    <% movies_row.each do | movie | %>
	    <td width="33%">
        <table align="center" id="panel-<%= movie.id%>">
            <%= render partial: 'poster_panel', locals: { movie: movie } %>
        </table>
	    </td>
    <% end %>
  </tr>
  <% end %>
</table>

<p align="center">
  <%= link_to_previous_page @movies, 'Previous page', params: new_page_params %> <%= link_to_next_page @movies, 'Next page', params: new_page_params %>
</p>
