<h1 align="center">Movies</h1>

<p align="center">
  <%=
    genre_options = @genre_id ? { selected: @genre_id, include_blank: '(No genre)' } : { prompt: '(No genre)' }

    collection_select(
      :movie, :genre_id, @genres, :id, :name,
      genre_options,
      { onchange: js_on_change_link }
    )
  %>
  <%=
    sorting_options = @sorting_field ? { include_blank: '(No sorting)' } : { prompt: '(No sorting)' }

    select_tag(
      :sorting_field, options_for_select( @sort_mapping, @sorting_field ),
      sorting_options.merge( onchange: js_on_change_link )
    )
  %>
  <%=
    min_rating_options = @min_rating ? { selected: @min_rating, include_blank: '(No min rating)' } : { prompt: '(No min rating)' }

    select(
      :movie, :min_rating, @ratings,
      min_rating_options,
      { onchange: js_on_change_link }
    )
  %>
  <%=
    min_year_options = @min_year ? { selected: @min_year, include_blank: '(No min year)' } : { prompt: '(No min year)' }

    select(
      :movie, :min_year, @years,
      min_year_options,
      { onchange: js_on_change_link }
    )
  %>
</p>

<table width="100%" cellpadding="5" border="1">
  <% @movies.each_slice( 3 ) do | movies_row | %>
  <tr>
    <% movies_row.each do | movie | %>
	    <td width="33%" align="center" valign="center">
        <table>
          <tr>
            <% @annotations.each do | annotation | %>
            <td>
            <div id="<%= annotation %>-<%= movie.id %>">
              <%= render partial: 'annotation_link', locals: { movie: movie, annotation: annotation, value: movie.attributes[annotation] } %>
            </div>
            </td>
            <% end %>
          </tr>
        </table>
	      <%= image_tag url_for( controller: 'posters', action: 'show', movie_id: movie.id ) %>
	      <br/>
	      <%= h( movie.title ) %>
	    </td>
    <% end %>
  </tr>
  <% end %>
</table>

<p align="center">
  <%= link_to_previous_page @movies, 'Previous page', params: { genre_id: @genre_id } %> <%= link_to_next_page @movies, 'Next page', params: { genre_id: @genre_id } %>
</p>
